.App{
  min-height: 100vh;
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1533035353720-f1c6a75cd8ab?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2hhdCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D") ;
  background-size: cover;
  background-position: center
}